<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>EXPRESS 電影清單</title>
  {{!-- 導入資源 --}}
  {{!-- 導入 bootstrap --}}
  <link rel="stylesheet" href="/stylesheets/bootstrap.css">

  {{!-- 載入字體 --}}
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Noto+Sans+TC:wght@400;500;700&display=swap">


  {{!-- 導入本地資源 --}}
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  {{!-- Layouts --}}
  <h1>測試樣式</h1>




  {{!-- Partial templates --}}
  {{{body}}}



  {{!-- 導入資源 --}}
  {{!-- 導入 bootstrap --}}
  <script src="/stylesheets/popper.js"></script>
  <script src="/stylesheets/bootstrap.js"></script>

  {{!-- 導入 font awesome 資源 --}}
  <script src="https://kit.fontawesome.com/7f5b494958.js" crossorigin="anonymous"></script>
</body>
</html>