/* reset樣式: start */
html {
  box-sizing: border-box; /*設定 body 計算模式*/
  scroll-behavior: smooth; /* 設定網頁順暢滑動 */
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/* 清除瀏覽器預設 viewport */
html,
body {
  width: 100%;
  height: 100%;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul,
li,
menu {
  margin: 0;
  padding: 0;
  font-weight: normal;
  line-height: 1.5;
  list-style: none;
  text-align: justify;
}

table {
  border: none;
  border-spacing: 0;
  border-collapse: collapse;
}

th,
td {
  text-align: initial;
}

/* 清除超連結預設底線 */
a {
  text-decoration: none;
}
/* reset樣式: end */
/* 設定專案色彩:start */
:root {
  --main-text-color: #212529;
  --main-background-color: #f6f7f8;
  --navbar-brand-text-color: #4592af;
  --navbar-brand-hover-text-color: #226089;

  --banner-background-img: url('./images/banner/banner-photo-1.jpg');
  --search-bar-outer-background-color: #60849d; /* 改成淺藍 */
  --search-bar-outer-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
  --search-bar-inner-text-color: #141b39; /* 改成海軍藍 */
  --btn-major-text-color: #fff;
  --btn-major-background-color: #141b39; /* 改成海軍藍 */
  --placeholder-text-color: #aaaaaa;

  --form-control-focus-shadow: none;
  --form-control-focus-border-color: #ced4da;

  --card-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
  --restaurant-category-text-color: #666666;
  --restaurant-show-title-text-color: white;
  --restaurant-show-title-text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  --text-shadow: 1px 1px black;
}
/* 設定專案色彩:end */
/* 設定專案共用樣式: start */
html,
body {
  font-family: 'Noto Sans TC', sans-serif;
  font-size: 1rem;
  line-height: 1.4;
  color: var(--main-text-color);
}

a {
  color: var(--main-text-color);
}

.container {
  width: 85%;
  margin: 0 auto 3rem auto;
}

.background-image {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
/* 設定專案共用樣式: end */